.loading {
  width: 100px;
  height: 100px;
  margin: 100px auto;
  border-top: 6px solid #CC6699;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  line-height: 100px;
  text-align: center;
  animation: rotated 1s linear 0s infinite normal both;
}
.loading span {
  display: block;
  animation: rotated 1s linear 0s infinite reverse both;
}
.loading::before, .loading::after {
  content: '';
  position: absolute;
  top: -6px;
  left: 0;
  border-top: 6px solid #99CC33;
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border-radius: 50%;
  transform: rotate(120deg);
}
.loading::after {
  transform: rotate(240deg);
  border-color: #0066FF;
}

@keyframes rotated {
  from { transform: rotate(0deg)}
  to { transform: rotate(360deg)}
}